/* ./styles/main.css */

.container {
  text-align: center;
  margin-top: 40px;
}

input {
  margin-right: 10px;
}

.weather-container {
  margin-top: 20px;
}

.forecast-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  margin-top: 20px;
}

.forecast-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.forecast-list {
  text-align: left;
}

.date-item {
  text-align: left;
  margin-bottom: 10px;
}

.main-name {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bold;

}

@media only screen and (max-width: 900px) {
  .container {

  }

  .weather-container {
    
  }

  .forecast-container {
    
  }

  .forecast-item {
    
  }
  
}